<div class="page-header">
    <ol class="breadcrumb">
        <!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-home mr-2"></i>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
    </ol><!-- End breadcrumb -->
    <div class="ml-auto">
        <div class="input-group">
            <a href="#" class="btn btn-success btn-icon text-white mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Analytics">
                <span>
                    <i class="fe fe-bar-chart"></i>
                </span>
            </a>
            <a href="#" class="btn btn-primary btn-icon text-white mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Add New Account">
                <span>
                    <i class="fe fe-plus"></i>
                </span>
            </a>
            <a href="#" class="btn btn-secondary btn-icon text-white mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Export">
                <span>
                    <i class="fe fe-log-in"></i>
                </span>
            </a>
            <a href="#" class="btn btn-icon btn-info text-white mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Help">
                <span>
                    <i class="fe fe-help-circle"></i>
                </span>
            </a>
            <a href="#" class="btn btn-icon btn-danger text-white" data-toggle="tooltip" title="" data-placement="top" data-original-title="Settings">
                <span>
                    <i class="fe fe-settings"></i>
                </span>
            </a>
        </div>
    </div>
</div>