@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/App/Admin/CompanyMenu.js"></script>
<div class="page-header">
    <ol class="breadcrumb">
        <!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-home mr-2"></i>Mobile Company Menu</a></li>

    </ol><!-- End breadcrumb -->

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Add Company Menu</h4>
            </div>
            <div class="card-body">
                <form id="form-validation" novalidate>
                    <!--<div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Menu name</label>
                            <input type="text" class="form-control"  placeholder="Menu name" value="Alica" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Url</label>
                            <input type="text" class="form-control"  placeholder="url" value="Nestle" required>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label>Menu Name</label>
                        <input type="text" class="form-control" placeholder="Menu Name" required ng-model="MenuName">
                        <div class="invalid-feedback">
                            Please Enter Menu Name
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control" placeholder="Url" required ng-model="Url">
                        <div class="invalid-feedback">
                            Please Enter Url
                        </div>
                    </div>


                    <button class="btn btn-primary" type="submit" ng-click="SaveClick()" ng-hide="BtnSave">Submit</button>
                    <button class="btn btn-primary" type="submit" ng-click="UpdateClick()" ng-show="BtnUpdate">Update</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card export-database">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered border-t0 key-buttons text-nowrap w-100" datatable="ng">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Sno</th>
                                <th>Menu</th>
                                <th>Url</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ML in MenuList">
                                <td>
                                    <a href="#" class="btn btn-action btn-primary" ng-click="EditMenu($index,ML.autoId)">Edit</a>
                                    <a href="#" class="btn btn-action btn-danger" ng-click="DeleteMenu($index,ML.autoId)">Delete</a>
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{ML.menuName}}</td>
                                <td>{{ML.menuUrl}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>