@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--page-header closed-->
<!-- Row -->
<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-6 col-sm-6 col-lg-6">
                        <div class="card overflow-hidden">
                            <div class="card-body pb-0">
                                <div class="dash1">
                                    <div class="d-flex">
                                        <small>Last Month</small>
                                        <span class="text-danger ml-auto"><i class="fe fe-trending-up text-danger mr-1"></i> 12%</span>
                                    </div>
                                    <h4 class="mb-2">$78,298</h4>
                                    <h6 class="mb-3 fs-12 text-muted">Revenue</h6>
                                </div>
                            </div>
                            <div class="chart-wrapper overflow-hidden">
                                <span class="sparkline_bar1 chart-dropshadow sparkline-width"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-lg-6">
                        <div class="card overflow-hidden">
                            <div class="card-body pb-0">
                                <div class="dash1">
                                    <div class="d-flex">
                                        <small>Last Month</small>
                                        <span class="text-danger ml-auto"><i class="fe fe-trending-up text-danger mr-1"></i> 05%</span>
                                    </div>
                                    <h4 class="mb-2">$8,397</h4>
                                    <h6 class="mb-3 fs-12 text-muted">Profits</h6>
                                </div>
                            </div>
                            <div class="chart-wrapper overflow-hidden">
                                <span class="sparkline_bar2 chart-dropshadow sparkline-width"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-lg-6">
                        <div class="card overflow-hidden">
                            <div class="card-body pb-0">
                                <div class="">
                                    <div class="mb-2">
                                        <h6 class="mb-3">Orders to Ship</h6>
                                        <h3 class="text-primary mb-1">12,450</h3>
                                        <span class="text-success"><i class="zmdi zmdi-long-arrow-up zmdi-hc-lg mr-2"></i><span>+24%</span></span><span class="text-muted ml-2">From Last Month</span>
                                    </div>
                                    <p class="mb-0 mt-2 text-muted">Lorem ipsum dolor sit amet odio consectetur accusamus .</p>
                                </div>
                            </div>
                            <div class="chart-wrapper mb-0 chart-dropshadow">
                                <canvas id="widgetChart1" class="mb-0 p-0 chart-dropshadow"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-lg-6">
                        <div class="card overflow-hidden bg-primary">
                            <div class="card-body pb-0">
                                <div class="">
                                    <div class="mb-2">
                                        <h6 class="mb-3">Inventory Accuracy</h6>
                                        <h3 class="mb-1">7.37</h3>
                                        <span class="text-success"><i class="zmdi zmdi-long-arrow-up zmdi-hc-lg mr-2"></i><span>+06%</span></span><span class="ml-2">From Last Month</span>
                                    </div>
                                    <p class="mb-0 mt-2">Lorem ipsum dolor sit amet odio consectetur accusamus .</p>
                                </div>
                            </div>
                            <div class="chart-wrapper mb-0 chart-dropshadow">
                                <canvas id="widgetChart-2" class="mb-0 p-0 chart-dropshadow"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-xl-6 col-md-12 border-right">
                                        <div class="p-3 text-center">
                                            <h4 class="m-0">1Hr</h4>
                                            <p class="text-body mb-2 text-uppercase">Avg loading time</p>
                                            <p class="text-muted mb-0"> amet consectetur At vero eos et accusamus et iusto odio.</p>
                                            <div class="text-center mb-0">
                                                <canvas id="widgetChart2" class="chart-dropshadow"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <div class="p-3 text-center">
                                            <h4 class="m-0">15 Tons</h4>
                                            <p class="text-body mb-2 text-uppercase">Avg Loading Weight</p>
                                            <p class="text-muted  mb-0"> amet consectetur At vero eos et accusamus et iusto odio.</p>
                                            <div class="text-center mb-0">
                                                <canvas id="widgetChart3" class="chart-dropshadow"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Delivery Status</h4>
                <h6 class="card-subtitle">Last Week</h6>
            </div>
            <div class="card-body">
                <div class="dash-limit">
                    <div class="row">
                        <div class="col-sm-4 text-center mb-4">
                            <p class="mb-0 text-muted">Total Time Limit</p>
                            <h4 class=" mb-0">4,296</h4>
                        </div>
                        <div class="col-sm-4 text-center mb-4">
                            <p class="mb-0 text-muted">Within Time Limit</p>
                            <h4 class=" mb-0">3,567</h4>
                        </div>
                        <div class="col-sm-4 text-center mb-4">
                            <p class="mb-0 text-muted">Out of Time Limit</p>
                            <h4 class=" mb-0">20</h4>
                        </div>
                    </div>
                </div>
                <div id="echart1" class="chartsh chart-dropshadow overflow-hidden"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Perfect Order Rate</h4>
                <h6 class="card-subtitle">Last month</h6>
            </div>
            <div class="card-body">
                <p class="mb-0 text-muted">Lorem ipsum dolor sit amet consectetur At vero eos et accusamus odio.</p>
                <div class="row">
                    <div class="col-sm-7 pt-4">
                        <h6 class="mb-2 fs-14">Avg monthly rate</h6>
                        <h3 class="mb-1">67.9%</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success"><i class="fa fa-chevron-circle-up text-success ml-1"></i> 3%</span>
                            last month
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <canvas width="150" height="90" id="chart_gauge_03" class="chart-dropshadow"></canvas>
                        <div class="goal-wrapper">
                            <span id="gauge-text3" class="gauge-value gauge-chart">0</span>
                            <span class="gauge-value mr-5">%</span>
                            <span id="goal-text3" class="goal-value">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End row-->
<!--Row-->
<div class="row">
    <div class="col-xl-4 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Warehouse Operating Costs</h4>
                <h6 class="card-subtitle">Last week</h6>
            </div>
            <div class="card-body p-0">
                <div class="list-group projects-list">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-top-0">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 font-weight-sembold text-dark">Order Picking</h6>
                            <h6 class="text-dark mb-0 font-weight-sembold text-dark">3,876</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="text-muted"><i class="fe fe-arrow-down text-success "></i> 03% last month</span>
                            <span class="">5 days ago</span>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 font-weight-sembold text-dark">Storage</h6>
                            <h6 class="text-dark mb-0 font-weight-sembold text-dark">2,178</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="text-muted"><i class="fe fe-arrow-down text-danger "></i> 16% last month</span>
                            <span class="">2 days ago</span>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 font-weight-sembold text-dark">Shipping</h6>
                            <h6 class="text-dark mb-0 font-weight-sembold text-dark">1,367</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="text-muted"><i class="fe fe-arrow-up text-success"></i> 06% last month</span>
                            <span class="">1 days ago</span>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start br-br-7 br-bl-7">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 font-weight-sembold text-dark">Receiving</h6>
                            <h6 class="text-dark mb-0 font-weight-sembold text-dark">678</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="text-muted"><i class="fe fe-arrow-down text-danger "></i> 25% last month</span>
                            <span class="">10 days ago</span>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start br-br-7 br-bl-7">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 font-weight-sembold text-dark">Other</h6>
                            <h6 class="text-dark mb-0 font-weight-sembold text-dark">5,678</h6>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="text-muted"><i class="fe fe-arrow-up text-success "></i> 16% last month</span>
                            <span class="">5 days ago</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Deliveries by Country</h4>
                <h6 class="card-subtitle">Last Week</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div id="donutchart" class="overflow-hidden chart-dropshadow h-290"></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-4">
                            <p class="mb-2">Australia<span class="float-right text-muted">80%</span></p>
                            <div class="progress h-6">
                                <div class="progress-bar bg-primary w-80 " role="progressbar"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <p class="mb-2">Brazil<span class="float-right text-muted">70%</span></p>
                            <div class="progress h-6">
                                <div class="progress-bar bg-secondary w-70" role="progressbar"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <p class="mb-2">Germany<span class="float-right text-muted">60%</span></p>
                            <div class="progress h-6">
                                <div class="progress-bar bg-info w-60" role="progressbar"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <p class="mb-2">Denmark<span class="float-right text-muted">70%</span></p>
                            <div class="progress h-6">
                                <div class="progress-bar bg-warning w-70" role="progressbar"></div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <p class="mb-2">France<span class="float-right text-muted">60%</span></p>
                            <div class="progress h-6">
                                <div class="progress-bar bg-success w-60" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->
<!--Row-->
<div class="row">
    <div class="col-xl-5 col-md-12 col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Carrying Costs Of Inventory</h4>
                <h6 class="card-subtitle">Last Month</h6>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-xl-12 mb-3 border-bottom">
                        <div class="row">
                            <div class="col">
                                <div class="dash1">
                                    <small class="text-muted">Inventory To Sales</small>
                                    <h4>3,567</h4>
                                </div>
                            </div>
                            <div class="col col-auto">
                                <p class="data-attributes chart-dropshadow">
                                    <span data-peity='{ "fill": ["#ff8645", "#ececec"],   "innerRadius": 20, "radius": 24 }'>5/7</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="dash1">
                                    <small class="text-muted">Inventory Turnover</small>
                                    <h4>8.9</h4>
                                </div>
                            </div>
                            <div class="col col-auto">
                                <p class="data-attributes chart-dropshadow">
                                    <span data-peity='{ "fill": ["#e345ff", "#ececec"],   "innerRadius": 20, "radius": 24 }'>1/3</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="inventory" class="chartsh overflow-hidden chart-dropshadow"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-md-12 col-lg-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Orders Details</h4>
                <h6 class="card-subtitle">Last Month</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered  mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Customer</th>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/1.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Emily Poole</td>
                                <td>PRO12345</td>
                                <td>Online Payment</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/4.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Carl Ball</td>
                                <td>PRO67890</td>
                                <td>Online Payment</td>
                                <td><span class="badge badge-orange">Pending</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/3.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Sarah Alsop</td>
                                <td>PRO23457</td>
                                <td>Cash on delivered</td>
                                <td><span class="badge badge-cyan">Delivering</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/5.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Ruth Hart</td>
                                <td>PRO94567</td>
                                <td>Online Payment</td>
                                <td><span class="badge badge-danger">Shipped</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/6.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Peter Ince</td>
                                <td>PRO56789</td>
                                <td>Cash on delivered</td>
                                <td><span class="badge badge-primary">Add Cart</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/admin_assets/img/avatar/7.jpg" class="rounded-circle w-32" alt="">
                                </td>
                                <td>Sophie	Ross</td>
                                <td>PRO30978</td>
                                <td>Online Payment</td>
                                <td><span class="badge badge-danger">Shipped</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->
