<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>ProFix - Computer & Mobile Phone Repair Service Company HTML5 Template</title>
    <link href="~/user_assets/animate.css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/user_assets/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900" rel="stylesheet">
    <link href="~/user_assets/chosen/chosen.min.css" rel="stylesheet" type="text/css">
    <link href="~/user_assets/jquery-ui-custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/user_assets/pentix/css/pentix.min.css" rel="stylesheet" type="text/css">
    <link href="~/user_assets/css/pex-theme.min.css" rel="stylesheet" type="text/css">
    <script src="~/App/angular.js"></script>
    <script src="~/App/GlobalSettings.js"></script>
    <script src="~/App/Appmodule.js"></script>
    <script src="~/App/globalService.js"></script>
</head>
<body class="body loader-loading" ng-app="MyApp" ng-controller="UserCntrl">
    @await Html.PartialAsync("~/Views/PartialViews/_PartialUserHeader.cshtml")

    @RenderBody()

    @await Html.PartialAsync("~/Views/PartialViews/_PartialUserFooter.cshtml")
    <script src="~/user_assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/user_assets/parallax.js/parallax.min.js"></script>
    <script src="~/user_assets/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/user_assets/owlcarousel2/owl.carousel.min.js"></script>
    <script src="~/user_assets/shuffle/shuffle.min.js"></script>
    <script src="~/user_assets/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/user_assets/chosen/chosen.jquery.min.js"></script>
    <script src="~/user_assets/jquery-ui-custom/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/user_assets/pentix/js/pentix.min.js" type="text/javascript"></script>
    <script src="~/user_assets/js/script.js" type="text/javascript"></script>
    <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDBAbNXaCDOzujLCykXUvTylfbL1wUcaM&amp;callback=initMap"></script>


</body>
</html>
